@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Barlow Condensed';
}

/* Animation for "marquee" class */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.marquee {
  display: flex;
  animation: marquee 60s linear infinite;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a4a4a4;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
/* subscribe */
.subscribe-section:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(180deg, #f4f1ea 67.2%, hsla(42, 31%, 94%, 0));
}